<% form_for(@desligamento) do |f| %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :respcad %><br />
    <%= f.text_field :respcad %>
  </p>
  <p>
    <%= f.label :respmod %><br />
    <%= f.text_field :respmod %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>