<p>
  <b>Descricao:</b>
  <%=h @desligamento.descricao %>
</p>

<p>
  <b>Respcad:</b>
  <%=h @desligamento.respcad %>
</p>

<p>
  <b>Respmod:</b>
  <%=h @desligamento.respmod %>
</p>


<%= link_to 'Edit', edit_desligamento_path(@desligamento) %> |
<%= link_to 'Back', desligamentos_path %>