<p>
  <b>Congregacao:</b>
  <%=h @membro.congregacao %>
</p>

<p>
  <b>Nome:</b>
  <%=h @membro.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%=h @membro.apelido %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @membro.sexo %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @membro.endereco %>
</p>

<p>
  <b>Estado:</b>
  <%=h @membro.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @membro.cidade %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @membro.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%=h @membro.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @membro.telefone %>
</p>

<p>
  <b>Data nascimento:</b>
  <%=h @membro.data_nascimento %>
</p>

<p>
  <b>Naturalidade:</b>
  <%=h @membro.naturalidade %>
</p>

<p>
  <b>Rg:</b>
  <%=h @membro.rg %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @membro.cpf %>
</p>

<p>
  <b>Nome pai:</b>
  <%=h @membro.nome_pai %>
</p>

<p>
  <b>Nome mae:</b>
  <%=h @membro.nome_mae %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @membro.estado_civil %>
</p>

<p>
  <b>Conjuge:</b>
  <%=h @membro.conjuge %>
</p>

<p>
  <b>Conjuge evangelico:</b>
  <%=h @membro.conjuge_evangelico %>
</p>

<p>
  <b>Email:</b>
  <%=h @membro.email %>
</p>

<p>
  <b>Fotografia:</b>
  <%=h @membro.fotografia %>
</p>

<p>
  <b>Tempo conversao:</b>
  <%=h @membro.tempo_conversao %>
</p>

<p>
  <b>Tipo admissao:</b>
  <%=h @membro.tipo_admissao %>
</p>

<p>
  <b>Data admissao:</b>
  <%=h @membro.data_admissao %>
</p>

<p>
  <b>Ata admissao:</b>
  <%=h @membro.ata_admissao %>
</p>

<p>
  <b>Data ata admissao:</b>
  <%=h @membro.data_ata_admissao %>
</p>

<p>
  <b>Data batismo:</b>
  <%=h @membro.data_batismo %>
</p>

<p>
  <b>Ata batismo:</b>
  <%=h @membro.ata_batismo %>
</p>

<p>
  <b>Data ata batismo:</b>
  <%=h @membro.data_ata_batismo %>
</p>

<p>
  <b>Data profissao:</b>
  <%=h @membro.data_profissao %>
</p>

<p>
  <b>Ata profissao:</b>
  <%=h @membro.ata_profissao %>
</p>

<p>
  <b>Data ata profissao:</b>
  <%=h @membro.data_ata_profissao %>
</p>

<p>
  <b>Local batismo:</b>
  <%=h @membro.local_batismo %>
</p>

<p>
  <b>Igreja remanescente:</b>
  <%=h @membro.igreja_remanescente %>
</p>

<p>
  <b>Area atuacao:</b>
  <%=h @membro.area_atuacao %>
</p>

<p>
  <b>Situacao:</b>
  <%=h @membro.situacao %>
</p>

<p>
  <b>Data desligamento:</b>
  <%=h @membro.data_desligamento %>
</p>

<p>
  <b>Ata desligamento:</b>
  <%=h @membro.ata_desligamento %>
</p>

<p>
  <b>Codigo desligamento:</b>
  <%=h @membro.codigo_desligamento %>
</p>

<p>
  <b>Igreja destinataria:</b>
  <%=h @membro.igreja_destinataria %>
</p>

<p>
  <b>Respcad:</b>
  <%=h @membro.respcad %>
</p>

<p>
  <b>Respmod:</b>
  <%=h @membro.respmod %>
</p>

<p>
  <b>Data readmissao:</b>
  <%=h @membro.data_readmissao %>
</p>

<p>
  <b>Resp readmissao:</b>
  <%=h @membro.resp_readmissao %>
</p>

<p>
  <b>Ata readmissao:</b>
  <%=h @membro.ata_readmissao %>
</p>


<%= link_to 'Edit', edit_membro_path(@membro) %> |
<%= link_to 'Back', membros_path %>