<p>
  <b>Cnpj:</b>
  <%=h @igreja.cnpj %>
</p>

<p>
  <b>Razao social:</b>
  <%=h @igreja.razao_social %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @igreja.endereco %>
</p>

<p>
  <b>Estado:</b>
  <%=h @igreja.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @igreja.cidade %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @igreja.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%=h @igreja.cep %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @igreja.telefone %>
</p>

<p>
  <b>Data organizao:</b>
  <%=h @igreja.data_organizao %>
</p>

<p>
  <b>Presbiterio:</b>
  <%=h @igreja.presbiterio %>
</p>

<p>
  <b>Sinodo:</b>
  <%=h @igreja.sinodo %>
</p>

<p>
  <b>Logotipo:</b>
  <%=h @igreja.logotipo %>
</p>

<p>
  <b>Logotipo relatiorios:</b>
  <%=h @igreja.logotipo_relatiorios %>
</p>

<p>
  <b>Respcad:</b>
  <%=h @igreja.respcad %>
</p>

<p>
  <b>Respmod:</b>
  <%=h @igreja.respmod %>
</p>


<%= link_to 'Edit', edit_igreja_path(@igreja) %> |
<%= link_to 'Back', igrejas_path %>