
<div id="barra-menu">
	<div class="titulo-pagina"><%= image_tag "navegacao/seta2.png" %>&nbsp;<%= @title %></div>
	<div class="botoes"><%= link_to "Nova Congregação", new_congregaco_path %></div>
</div>

<div id="conteudo">
<div class="acessibilidade"><%= link_to "Dashboard", :controller => 'dashboard', :action => 'index' %> <span>>></span> Congregações</div>

<div class="dicas">
	<div class="titulo-dicas"><%= image_tag "icon-idea.png", :alt => "ícone Dicas"%> Para Refletir</div>
	<p><%=h TextosBiblicos.all.rand().TEXTO%></p>
	<div class="fundamento"> <%=h TextosBiblicos.all.rand().FUNDAMENTO%> </div>
</div>

<%= render :partial => '/_partials_/avisos' %>

<table style="margin-top:10px; width:80%;">
  <thead>
	<tr>
    <th>Igreja</th>
    <th>Nome</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Bairro</th>
    <th>Telefone</th>
    <th colspan="3">Ações</th>
  </tr>
  </thead>
  
  <tfoot>
		<tr>
			<th scope="row">Total</th>
			<td colspan="9" class="total_itens"><%= Bairro.count()%> congregações cadastradas.  </td>
		</tr>
	</tfoot>

<% @congregacoes.each do |congregacoes| %>
  <% @contador += 1;%>
  <tr <%= "class='odd'" if @contador.even? %>>
    <td><%=h Igreja.find(congregacoes.igreja_id).razao_social %></td>
    <td><%=h congregacoes.nome %></td>
    <td><%=h congregacoes.estado %></td>
    <td><%=h congregacoes.cidade %></td>
    <td><%=h congregacoes.bairro %></td>
    <td><%=h congregacoes.telefone %></td>
    <td><%= link_to 'Detalhes', congregacoes %></td>
    <td><%= link_to 'Editar', edit_congregaco_path(congregacoes) %></td>
    <td><%= link_to 'Deletar', congregacoes, :confirm => 'Deseja excluir o item selecionado?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>