
<div id="barra-menu">
	<div class="titulo-pagina"><%= image_tag "navegacao/seta2.png" %>&nbsp;<%= @title %></div>
	<div class="botoes"><%= link_to "Novo Bairro", new_bairro_path %></div>
</div>

<div id="conteudo">
<div class="acessibilidade"><%= link_to "Indicadores", :controller => 'dashboard', :action => 'index' %> <span>>></span> Bairros</div>

	<%= render :partial => '/_partials_/avisos' %>

<div class="dicas">
	<div class="titulo-dicas"><%= image_tag "icon-idea.png", :alt => "ícone Dicas"%> Para Refletir</div>
	<p><%=h TextosBiblicos.all.rand().TEXTO%></p>
	<div class="fundamento"> <%=h TextosBiblicos.all.rand().FUNDAMENTO%> </div>
</div>

<table style="margin-top:10px; width:80%;">
  <thead>
	<tr>
    <th>Estado</th>
    <th>Cidade</th>
    <th>Bairro</th>
    <th colspan="3">Ações</th>
  </tr>
  </thead>
  
  <tfoot>
		<tr>
			<th scope="row">Total</th>
			<td colspan="5" class="total_itens"><%= Bairro.count()%> bairro(s) cadastrados.  </td>
		</tr>
	</tfoot>
	
	<tbody>
<% @bairros.each do |bairro| %>
	<% @contador += 1;%>
  <tr <%= "class='odd'" if @contador.even? %>>
    <td><%=h bairro.estado.upcase %></td>
    <td><%=h bairro.cidade.upcase %></td>
    <td><%=h bairro.bairro.upcase %></td>
    <td><%= link_to 'Detalhes', bairro %></td>
    <td><%= link_to 'Editar', edit_bairro_path(bairro) %></td>
    <td><%= link_to 'Deletar', bairro, :confirm => 'Deseja excluir o item selecionado?', :method => :delete %></td>
  </tr>
<% end %>
	</tbody>
</table>

</div>