<p>
  <b>Estado:</b>
  <%=h @bairro.estado %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @bairro.cidade %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @bairro.bairro %>
</p>


<%= link_to 'Edit', edit_bairro_path(@bairro) %> |
<%= link_to 'Back', bairros_path %>